.page {
  padding: 0 15px;
}

  .page__header {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  .page__header h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.25;
      margin: 0 0 20px 0;
    }

  .page__header h2 {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.25;
      margin: 0;
    }

main {
  max-width: 1200px;
  margin: 100px auto;
}


